<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue à la Formation Fullstack</title>
</head>
<body>
    <h1>Bienvenue à la Formation Fullstack Spring Boot & Angular</h1>
    <p>Explorez les détails de la formation pour en savoir plus sur le contenu et les objectifs du cours.</p>
    apercu:<p th:text="${desc}"></p>
    
  
    <!-- Lien pour aller à la page "details" -->
    <a href="/details">Voir les détails de la formation</a>
    
</body>
</html>
